
/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	h1 {
		font-size: 38px;
	}

	.block {
		margin-bottom: 30px;
	}

}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.block a {
		font-size: 22px;
	}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 600px) {
	.cpr {
		font-size: 16px;
		line-height: 30px;
	}
}

@media only screen and (min-width : 768px) and (max-width: 991px) {
	.verj p {
		min-height: 155px;
	}
}


@media only screen and (min-width : 992px) and (max-width: 1199px) {
	
}

